In [ ]:
#!pip install ctgan pyspark
#!pip install psycopg2-binary psycopg2 SQLAlchemy

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import col
from pyspark.sql.functions import from_utc_timestamp

import psycopg2
import pandas as pd

#from pyspark.sql import SQLContext
#from pyspark.conf import SparkConf
#from sqlalchemy import create_engine

In [2]:
#spark = SparkSession.builder.appName("Python Spark SQL basic example").getOrCreate()

spark = SparkSession.builder.appName("Python Spark 100M example")\
    .config("spark.driver.host", "localhost") \
    .config("spark.executor.memory", "4g") \
    .config("spark.executor.cores", "4") \
    .config("spark.cores.max", "4") \
    .config("spark.driver.memory","4g") \
    .config("spark.executor.extraClassPath", "postgresql-42.7.4.jar") \
    .getOrCreate()

spark

In [3]:
## Download this file from kaggel it is around 1.4GB non compressed 100 Million rows
## url: https://www.kaggle.com/datasets/rohanrao/riiid-train-data-multiple-formats?select=riiid_train.parquet 

path = 'C:/Users/piyus/Downloads/riiid_train/riiid_train.parquet'

df_spark = spark.read.option("header","true").option("recursiveFileLookup","true").parquet(path)

df_spark.head(5)

[Row(row_id=0, timestamp=0, user_id=115, content_id=5692, content_type_id=False, task_container_id=1, user_answer=3, answered_correctly=1, prior_question_elapsed_time=None, prior_question_had_explanation=None),
 Row(row_id=1, timestamp=56943, user_id=115, content_id=5716, content_type_id=False, task_container_id=2, user_answer=2, answered_correctly=1, prior_question_elapsed_time=37000.0, prior_question_had_explanation=False),
 Row(row_id=2, timestamp=118363, user_id=115, content_id=128, content_type_id=False, task_container_id=0, user_answer=0, answered_correctly=1, prior_question_elapsed_time=55000.0, prior_question_had_explanation=False),
 Row(row_id=3, timestamp=131167, user_id=115, content_id=7860, content_type_id=False, task_container_id=3, user_answer=0, answered_correctly=1, prior_question_elapsed_time=19000.0, prior_question_had_explanation=False),
 Row(row_id=4, timestamp=137965, user_id=115, content_id=7922, content_type_id=False, task_container_id=4, user_answer=1, answered_correctly=1, prior_question_elapsed_time=11000.0, prior_question_had_explanation=False)]

In [ ]:
## Both Works   #print(df_spark.schema)
df_spark.printSchema()

In [ ]:
df_spark.count()

In [ ]:
## This will only show unique id's 
#df_spark.select('user_id').distinct().show()

## This will show id and count
#Use this only on small DF
#df_spark.groupby('user_id').count().show(n=df_spark.count(), truncate = False)

#df_spark.groupby('user_id').count().show(50)

In [4]:
## Changing timestamp from second in long format to timestamp
# Adding new Column with transformation
converted_df = df_spark.withColumn("timestamp_column", F.from_unixtime(F.col("timestamp")))

converted_df.show()

+------+---------+-------+----------+---------------+-----------------+-----------+------------------+---------------------------+------------------------------+-------------------+
|row_id|timestamp|user_id|content_id|content_type_id|task_container_id|user_answer|answered_correctly|prior_question_elapsed_time|prior_question_had_explanation|   timestamp_column|
+------+---------+-------+----------+---------------+-----------------+-----------+------------------+---------------------------+------------------------------+-------------------+
|     0|        0|    115|      5692|          false|                1|          3|                 1|                       NULL|                          NULL|1970-01-01 05:30:00|
|     1|    56943|    115|      5716|          false|                2|          2|                 1|                    37000.0|                         false|1970-01-01 21:19:03|
|     2|   118363|    115|       128|          false|                0|          0|                 1|                    55000.0|                         false|1970-01-02 14:22:43|
|     3|   131167|    115|      7860|          false|                3|          0|                 1|                    19000.0|                         false|1970-01-02 17:56:07|
|     4|   137965|    115|      7922|          false|                4|          1|                 1|                    11000.0|                         false|1970-01-02 19:49:25|
|     5|   157063|    115|       156|          false|                5|          2|                 1|                     5000.0|                         false|1970-01-03 01:07:43|
|     6|   176092|    115|        51|          false|                6|          0|                 1|                    17000.0|                         false|1970-01-03 06:24:52|
|     7|   194190|    115|        50|          false|                7|          3|                 1|                    17000.0|                         false|1970-01-03 11:26:30|
|     8|   212463|    115|      7896|          false|                8|          2|                 1|                    16000.0|                         false|1970-01-03 16:31:03|
|     9|   230983|    115|      7863|          false|                9|          0|                 1|                    16000.0|                         false|1970-01-03 21:39:43|
|    10|   255381|    115|       152|          false|               10|          2|                 0|                    17000.0|                         false|1970-01-04 04:26:21|
|    11|   280033|    115|       104|          false|               11|          1|                 0|                    22000.0|                         false|1970-01-04 11:17:13|
|    12|   302994|    115|       108|          false|               12|          1|                 0|                    23000.0|                         false|1970-01-04 17:39:54|
|    13|   328686|    115|      7900|          false|               13|          0|                 1|                    21000.0|                         false|1970-01-05 00:48:06|
|    14|   352686|    115|      7901|          false|               14|          1|                 1|                    24000.0|                         false|1970-01-05 07:28:06|
|    15|   376162|    115|      7971|          false|               15|          2|                 1|                    22000.0|                         false|1970-01-05 13:59:22|
|    16|   398020|    115|        25|          false|               16|          1|                 1|                    21000.0|                         false|1970-01-05 20:03:40|
|    17|   418008|    115|       183|          false|               17|          0|                 0|                    20000.0|                         false|1970-01-06 01:36:48|
|    18|   437272|    115|      7926|          false|               18|          1|                 1|                    18000.0|                         false|1970-01-06 06:57:52|
|    19|   468511|    115|      7927|          false|               19|          3|                 1|                    17000.0|                         false|1970-01-06 15:38:31|
+------+---------+-------+----------+---------------+-----------------+-----------+------------------+---------------------------+------------------------------+-------------------+
only showing top 20 rows

In [ ]:
## Changing timestamp from second in long format to timestamp Another way to do it
#df1 = df_spark.withColumn('end_time', from_utc_timestamp(F.from_unixtime(F.col("timestamp")), 'IST'))
#df1.show()

In [8]:
# remove old column
converted_df = converted_df.drop('timestamp')
# rename new column
converted_df = converted_df.withColumnRenamed('timestamp_column','timestamp') 

converted_df.show()

+------+-------+----------+---------------+-----------------+-----------+------------------+---------------------------+------------------------------+-------------------+
|row_id|user_id|content_id|content_type_id|task_container_id|user_answer|answered_correctly|prior_question_elapsed_time|prior_question_had_explanation|          timestamp|
+------+-------+----------+---------------+-----------------+-----------+------------------+---------------------------+------------------------------+-------------------+
|     0|    115|      5692|          false|                1|          3|                 1|                       NULL|                          NULL|1970-01-01 05:30:00|
|     1|    115|      5716|          false|                2|          2|                 1|                    37000.0|                         false|1970-01-01 21:19:03|
|     2|    115|       128|          false|                0|          0|                 1|                    55000.0|                         false|1970-01-02 14:22:43|
|     3|    115|      7860|          false|                3|          0|                 1|                    19000.0|                         false|1970-01-02 17:56:07|
|     4|    115|      7922|          false|                4|          1|                 1|                    11000.0|                         false|1970-01-02 19:49:25|
|     5|    115|       156|          false|                5|          2|                 1|                     5000.0|                         false|1970-01-03 01:07:43|
|     6|    115|        51|          false|                6|          0|                 1|                    17000.0|                         false|1970-01-03 06:24:52|
|     7|    115|        50|          false|                7|          3|                 1|                    17000.0|                         false|1970-01-03 11:26:30|
|     8|    115|      7896|          false|                8|          2|                 1|                    16000.0|                         false|1970-01-03 16:31:03|
|     9|    115|      7863|          false|                9|          0|                 1|                    16000.0|                         false|1970-01-03 21:39:43|
|    10|    115|       152|          false|               10|          2|                 0|                    17000.0|                         false|1970-01-04 04:26:21|
|    11|    115|       104|          false|               11|          1|                 0|                    22000.0|                         false|1970-01-04 11:17:13|
|    12|    115|       108|          false|               12|          1|                 0|                    23000.0|                         false|1970-01-04 17:39:54|
|    13|    115|      7900|          false|               13|          0|                 1|                    21000.0|                         false|1970-01-05 00:48:06|
|    14|    115|      7901|          false|               14|          1|                 1|                    24000.0|                         false|1970-01-05 07:28:06|
|    15|    115|      7971|          false|               15|          2|                 1|                    22000.0|                         false|1970-01-05 13:59:22|
|    16|    115|        25|          false|               16|          1|                 1|                    21000.0|                         false|1970-01-05 20:03:40|
|    17|    115|       183|          false|               17|          0|                 0|                    20000.0|                         false|1970-01-06 01:36:48|
|    18|    115|      7926|          false|               18|          1|                 1|                    18000.0|                         false|1970-01-06 06:57:52|
|    19|    115|      7927|          false|               19|          3|                 1|                    17000.0|                         false|1970-01-06 15:38:31|
+------+-------+----------+---------------+-----------------+-----------+------------------+---------------------------+------------------------------+-------------------+
only showing top 20 rows

In [9]:
## Create Connection to PostgreSQL.
try:
    conn = psycopg2.connect(dbname="postgres", user='postgres', password='password', port='5432')
    print("Connected to DB !!")
except:
    print("Connection was unsuccessful !!")

Connected to DB !!

In [11]:
converted_df.printSchema()

root
 |-- row_id: long (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- content_id: short (nullable = true)
 |-- content_type_id: boolean (nullable = true)
 |-- task_container_id: short (nullable = true)
 |-- user_answer: byte (nullable = true)
 |-- answered_correctly: byte (nullable = true)
 |-- prior_question_elapsed_time: float (nullable = true)
 |-- prior_question_had_explanation: boolean (nullable = true)
 |-- timestamp: string (nullable = true)

In [12]:
cur = conn.cursor()

In [13]:
cur.execute("""
CREATE TABLE IF NOT EXISTS testdb.consent (
        row_id BIGINT primary key,
        timestamp TIMESTAMP,
        user_id varchar(20),
        content_id INT,  
		content_type_id boolean,
		task_container_id INT,
		user_answer INT,
		answered_correctly INT,
		prior_question_elapsed_time BIGINT,
		prior_question_had_explanation boolean)
""")

In [14]:
conn.commit()

In [15]:
## You have to keep the jar in right location then only spark will identify it 
## For windows put in spark folder ==> C:\Program Files\spark-3.5.3-bin-hadoop3\jars
## Databricks have diff location

url_connect = 'jdbc:postgresql://localhost:5432/postgres?currentSchema=testdb'
properties = {"user": "postgres","password": "password","driver": "org.postgresql.Driver"}

start = pd.Timestamp.now()

converted_df.write.jdbc(url=url_connect, table="consent", mode="overwrite", properties=properties)

print(pd.Timestamp.now()-start)

0 days 00:12:23.341035